[submodule "third_party/universal-ctags"]
	path = third_party/universal-ctags
	url = https://github.com/universal-ctags/ctags.git
[submodule "third_party/jansson"]
	path = third_party/jansson
	url = https://github.com/akheron/jansson.git
